<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/databaseStyles.css">
    
</head>
<body>
    <h2>Database</h2>
    <table>
        {% if rows %}
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Village</th>
                <th>District</th>
                <th>State</th>
                <th>Post Office</th>
                <th>Pincode</th>
                <th>Father's Name</th>
                <th>Mother's Name</th>
                <th>Grandmother's Name</th>
                <th>Grandfather's Name</th>
                <th>Father's Aadhaar</th>
                <th>Grandfather's Aadhaar</th>

            </tr>
            {% for row in rows %}
                <tr>
                    <td>
                        <form method='post' action="{{ url_for('delete', the_id=row.id) }}">
                            <label>{{ row.id }}</label>
                            <input type="checkbox" name="remove">
                            <br>
                            <input type="submit" value="DELETE">
                        </form>
                    </td>

                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='name') }}">
                            <label>{{ row.name }}</label>
                            <input type="text" name="name" placeholder="Edit Name">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='midname') }}">
                            <label>{{ row.midname }}</label>
                            <input type="text" name="Middle Name" placeholder="Edit Middle Name">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>
                    
                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='lastname') }}">
                            <label>{{ row.lastname }}</label>
                            <input type="text" name="Last Name" placeholder="Edit Last Name">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>

                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='dob') }}">
                            <label>{{ row.dob }}</label>
                            <input type="text" name="Last Name" placeholder="Edit Last Name">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>

                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='village') }}">
                            <label>{{ row.job }}</label>
                            <input type="text" name="Village" placeholder="Edit Village">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>

                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='district') }}">
                            <label>{{ row.district }}</label>
                            <input type="text" name="District" placeholder="Edit District">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>

                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='state') }}">
                            <label>{{ row.state }}</label>
                            <input type="text" name="State" placeholder="Edit State">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='postoffice') }}">
                            <label>{{ row.postoffice }}</label>
                            <input type="text" name="Post Office" placeholder="Edit Post Office">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>
                                        <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='pincode') }}">
                            <label>{{ row.pincode }}</label>
                            <input type="text" name="Pincode" placeholder="Edit Pincode">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>

                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='fathname') }}">
                            <label>{{ row.fathname }}</label>
                            <input type="text" name="Father's Name" placeholder="Edit Father's Name">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>

                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='mothname') }}">
                            <label>{{ row.midname }}</label>
                            <input type="text" name="Mother's Name" placeholder="Edit Mother's Name">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>

                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='grandmothname') }}">
                            <label>{{ row.grandmothname }}</label>
                            <input type="text" name="Grandmother's Name" placeholder="Edit Grandmother's Name">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='grandfathname') }}">
                            <label>{{ row.grandfathname }}</label>
                            <input type="text" name="Grandfather's Name" placeholder="Edit Grandfather's Name">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='fath_aadhaar') }}">
                            <label>{{ row.fath_aadhaar }}</label>
                            <input type="text" name="Father's Aadhaar ID" placeholder="Edit Father's Aadhaar ID">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{{ url_for('modify_database', the_id=row.id, modified_category='grandfath_aadhaar') }}">
                            <label>{{ row.grandfath_aadhaar }}</label>
                            <input type="text" name="Grandfather's Aadhaar ID" placeholder="Edit Grandfather's Aadhaar ID">
                            <br>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </td>

                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <br>
    <button><a href="{{ url_for('index') }}">Enter New User</a></button>
</body>
</html>